// COLORS
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$white: #FFFFFF;
$black: #000000;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$dark-grey: #353535;

$fa-font-path: "../fonts";