// COLORS
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$white: #FFFFFF;
$black: #000000;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$dark-grey: #353535;

// BREAKPOINTS
$tablet: 480px;
$laptop: 768px;
$desktop: 1024px;
$xxl: 1201px;

// WINDOW PADDINGS
$window-padding: 20px;
$window-padding-laptop: 40px;
$window-padding-xxl: 50px;

// PATHS
$fa-font-path: "../../fonts";