.footer {
    background-color: $dark-grey;
    color: $white;
    padding: $window-padding;
    @include breakpoint($laptop) {
        padding: $window-padding-laptop;
    }
    @include breakpoint($xxl) {
        padding: $window-padding-xxl;
    }
    &__logo {
        height: 20px;
        margin-bottom: 10px;
        @include breakpoint($xxl) {
            height: 25px;
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        @include breakpoint($xxl) {
            font-size: 18px;
        }
        .nav__link, .nav__link--highlight {
            font-weight: 300;
            margin-bottom: 5px;
            .link__icon {
                margin-right: 8px;
            }
        }
        .nav__link--highlight {
            font-weight: 500;
        }
    }
}