.location {
    background-color: $grey;
    color: $dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px $window-padding;
    @include breakpoint($laptop) {
        padding: 20px $window-padding-laptop;
    }
    @include breakpoint($xxl) {
        padding: 20px $window-padding-xxl;
    }
    &__pin {
        margin-right: 10px;
    }
    &__text {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
    }
}

.explorer {
    background-color: $light-grey;
    padding: 30px $window-padding;
    @include breakpoint($laptop) {
        padding: 50px $window-padding-laptop;
    }
    @include breakpoint($xxl) {
        padding: 30px $window-padding-xxl;
    }
    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        margin-bottom: 16px;
    }
    &__description {
        text-align: center;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 30px;
    }
}

.functioning {
    padding: 40px $window-padding;
    @include breakpoint($laptop) {
        padding: 50px $window-padding-laptop;
    }
    @include breakpoint($xxl) {
        padding: 50px $window-padding-xxl;
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: end;
        @include breakpoint($laptop) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .step, .step--highlight {
            display: flex;
            align-items: center;
            position: relative;
            width: calc(100% - 10px);
            background-color: $light-grey;
            padding: 20px 35px;
            margin-top: 20px;
            border-radius: 20px;
            box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
            @include breakpoint($laptop) {
                flex: 33%;
                &:nth-child(odd) {
                    margin-right: 20px;
                }
                &:last-child {
                    max-width: calc(50% - 10px);
                }
            }
            @include breakpoint($desktop) {
                flex: 25%;
                max-width: unset;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
            &__number {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: $primary-color;
                color: $white;
                font-size: 12px;
            }
            &__icon {
                color: rgba($black, 60%);
                margin-right: 20px;
            }
            &__text {
                font-weight: 600;
            }
        }
        .step--highlight {
            background-color: rgba($primary-color, 15%);
            .step__icon {
                color: rgba($primary-color, 100%);
            }
        }
    }
}

.restaurants {
    background-color: $light-grey;
    padding: 40px $window-padding 50px $window-padding;
    @include breakpoint($laptop) {
        padding: 50px $window-padding-laptop;
    }
    @include breakpoint($xxl) {
        padding: 50px $window-padding-xxl;
    }
    &__list {
        display: flex;
        flex-direction: column;
        @include breakpoint($laptop) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .card, .card--new {
            overflow: hidden;
            background-color: $white;
            margin-top: 20px;
            border-radius: 20px;
            box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
            @include breakpoint($laptop) {
                flex: 33%;
                &:nth-child(odd) {
                    margin-right: 20px;
                }
            }
            @include breakpoint($xxl) {
                flex: 25%;
                margin-right: 20px;
                &:nth-child(3n) {
                    margin-right: 0;
                }
                &:last-child {
                    max-width: calc(33% - 10px);
                }
            }
            &__image {
                display: block;
                width: 100%;
                object-fit: cover;
                object-position: center;
                height: 180px;
            }
            .card__footer {
                position: relative;
                .card__informations {
                    padding: 15px;
                    .card__title {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                .like {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    &:hover {
                        transform: translateY(-50%) scale(1.2);
                    }
                }
            }
        }
        .card--new {
            position: relative;
            &::after {
                content: 'Nouveau';
                display: inline-block;
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: $third-color;
                color: rgba($black, 45%);
                border-radius: 2px;
                line-height: 30px;
                padding: 0 10px;
                font-size: 16px;
                font-weight: 500;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }
}