.banner {
    height: 300px;
    @include breakpoint($tablet) {
        height: 350px;
    }
    @include breakpoint($laptop) {
        height: 400px;
    }
    @include breakpoint($desktop) {
        height: 500px;
    }
    @include breakpoint($xxl) {
        height: 600px;
    }
    &__image {
        height: 100%;
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
}

.content {
    position: relative;
    background-color: $light-grey;
    border-radius: 25px;
    margin-top: -25px;
    padding: 30px $window-padding 60px;
    @include breakpoint($laptop) {
        padding: 40px $window-padding-laptop 60px;
    }
    @include breakpoint($xxl) {
        padding: 50px $window-padding-xxl 60px;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__title {
            margin: 0;
            font-family: 'Shrikhand', cursive;
            font-weight: 500;
        }
    }
    .menu {
        padding: 20px 0;
        &__title {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 300;
            position: relative;
            margin-bottom: 10px;
            @include breakpoint($xxl) {
                font-size: 19px;
            }
            &::after {
                content: '';
                height: 3px;
                width: 45px;
                background-color: $third-color;
                position: absolute;
                bottom: -3px;
                left: 0;
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            @include breakpoint($laptop) {
                flex-direction: row;
                flex-wrap: wrap;
            }
            .menu__item {
                margin-top: 15px;
                border-radius: 15px;
                box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
                overflow: hidden;
                opacity: 0;
                @include breakpoint($laptop) {
                    flex: 33%;
                    max-width: calc(50% - 7.5px);
                    &:nth-child(odd) {
                        margin-right: 15px;
                    }
                }
                @include breakpoint($xxl) {
                    flex: 25%;
                    max-width: calc(33% - 7.5px);
                    margin-right: 15px;
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
                .item__informations {
                    background-color: $white;
                    padding: 10px;
                    position: relative;
                    width: 100%;
                    transition: 0.5s width;
                    @include breakpoint($laptop) {
                        padding: 15px;
                    }
                    .item__title {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .item__footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .item__description {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .item__price {
                            margin: 0 10px;
                            font-weight: 600;
                        }
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: -70px;
                        height: 100%;
                        width: 70px;
                        background-color: $third-color;
                        transition: 0.5s;
                    }
                    &::after {
                        content: "\f058";
                        font-family: "Font Awesome 6 Free";
                        font-size: 24px;
                        color: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        right: -70px;
                        height: 100%;
                        width: 70px;
                        transition: 0.5s;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .item__informations {
                        width: calc(100% - 70px);
                        &::after {
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}

@for $i from 1 through 100 {
    .reveal-#{$i} {
        animation: smoothEntry 1s forwards;
        // animation-duration: calc(1s + calc(#{$i}s / 2));
        animation-delay: calc(#{$i}s / 4);
    }
}